img.choice {
    position:relative;
    float:left;
    width: 100px;
    height:100px;
    background-position:50% 50%;
    background-repeat:no-repeat;
    background-size:cover;
    margin:10px;
    border: 1px solid black;
}

img.winner {
    -moz-animation-duration: 1s;
    -webkit-animation-duration: 1s;
    -moz-animation-name: slidein2;
    -webkit-animation-name: slidein2;
    -moz-animation-iteration-count: 3;
    -webkit-animation-iteration-count: 3;
    -moz-animation-direction: alternate;
    -webkit-animation-direction: alternate;
    border: 2px solid red;
}

@-moz-keyframes slidein2 {
    from {
        border: 1px solid black;
        text-shadow: 1px 1px 1px red;
    }
}

@-webkit-keyframes slidein2 {
    from {
        border: 1px solid black;
        text-shadow: 1px 1px 1px red;
    }
}

h2{
    color:gray;
    display: inline-block;
    margin-right:10px;
}